/*#header nav {
	background: #55efc4;
}
*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

#header a {
	color: #fff;
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
}

#container {
	background: #f1f2f6;
}

#novedades {
	background: #dfe4ea;
}

#novedades h6 {
	font-weight: bold;
}

#footer {
	background: #2d3436;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 2em;
	padding-bottom: 1em;
}	

#footer p {
	vertical-align: middle;
	font-weight: bold;
}

#footer a {
	color: #fff;
	padding-right: 1em;
}

.row {
	margin-right: 0;
	margin-left: 0;
}