/*#header nav {
	background: #55efc4;
}
*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

#header a {
	color: #fff;
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
	.container {
		font-size: medium;
	}

	#footer_info {
		padding-top: 1em;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

#container {
	background: #f1f2f6;
}

#container thead {
	background: #ff7f50;
}

#novedades {
	background: #dfe4ea;
}

#novedadDetalle {
	background: #ced6e0;
}

#novedadDetalle h6 {
	font-weight: bold;
}

#novedades h6 {
	font-weight: bold;
}

#footer {
	background: #2d3436;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 2em;
	padding-bottom: 1em;
}	

#footer p {
	vertical-align: middle;
	font-weight: bold;
}

#footer a {
	color: #fff;
	padding-right: 1em;
}

.row {
	margin-right: 0;
	margin-left: 0;
}